<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="http://store.demoqa.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IsDesktopBrowser" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SqlDb" value="Dev" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="BrowserStackUrl" value="http://hub.browserstack.com/wd/hub/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrowserStackUser" value="developerlogs1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrowserStackKey" value="q9cQP9DLxfu8eTuqCqXa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrowserStackDebug" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="BrowserType" value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrowserVersion" value="55.0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OsType" value="Windows" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OsVersion" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OsResolution" value="1920x1080" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PlatformBrowser" value="WinChrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>