<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- URL -->
    <add key="BaseUrl" value="http://store.demoqa.com/" />
    <add key="IsDesktopBrowser" value="true" />

    <!-- SQL -->
    <add key="SqlDb" value="Dev" />

    <!-- BrowserStack -->
    <add key="BrowserStackUrl" value="http://hub.browserstack.com/wd/hub/" />
    <add key="BrowserStackUser" value="developerlogs1" />
    <add key="BrowserStackKey" value="q9cQP9DLxfu8eTuqCqXa" />
    <add key="BrowserStackDebug" value="true" />

    <add key="BrowserType" value="IE" />
    <add key="BrowserVersion" value="11.0" />
    <add key="OsType" value="Windows" />
    <add key="OsVersion" value="10" />
    <add key="OsResolution" value="1920x1080" />

    <add key="BrowserName" value="android" />
    <add key="Platform" value="Android" />
    <add key="Device" value="Samsung Galaxy S5" />

    <add key="PlatformBrowser" value="WinIe11" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow></configuration>